<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${argomento.titolo}"></title>
    <link rel="stylesheet" th:href="@{/stylesheet/argomento.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/stylesheet/flashcard.css}" type="text/css"/>
    <link href="/img/Logo.png" rel="shortcut icon"/>
</head>

<body>

<th:block th:include="fragments/header"></th:block>

<div class="racconto">
    <section class="bannerRacconto"
             th:style="'background: linear-gradient(rgba(0, 0, 0, 0.5), #282828c4), url('+@{/copertina(idArgomento=${param.id})}+'); background-size: cover; background-position: center;'">
        <div class="banner-text">
            <h1 th:text="${argomento.titolo}"></h1>
        </div>
    </section>

    <!-- caso in cui l'argomento è un racconto (fare controllo migliore) -->
    <div th:if="${argomento.id == 500}">
        <iframe th:replace="presentazionerisorse/racconto :: racconto"></iframe>
    </div>

   <!-- caso in cui è una lezione -->
    <div th:if="${argomento.id != 500}" class="raccontoText">

        <div id="argomentoContent" th:utext="${argomento.corpo}" style="display: none;"></div>

        <div class="card-container" id="cardContainer"></div>

        <div th:if="${argomento.mappa != null}">
            <hr class="linea">
            <svg width="500" height="300" style="position: relative;"></svg>
            <script th:src="@{${argomento.mappa}}" defer></script>
        </div>

        <hr class="linea">

        <div class="iframe-row" style="padding-bottom: 50px">
            <iframe th:replace="presentazionerisorse/flashcard :: flashcardContent"></iframe>
        </div>

        <hr class="linea">

        <div class="box-bottoni">
            <a class="btnUtente" th:if="${lastId != null}" th:href="@{/argomento(id=${lastId})}">Lezione precedente</a>
            <a class="btnUtente" href="/utente/lezioniPrivacy">Lista Lezioni</a>
            <a class="btnUtente" th:if="${nextId != null}" th:href="@{/argomento(id=${nextId})}">Lezione successiva</a>
        </div>
    </div>

</div>

<th:block th:include="fragments/footer"></th:block>
</body>

<!-- Includi lo script lezione_passwordsicura.js -->
<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<!--<script th:src="@{/js/mappe/privacy/base/lezione_passwordsicura.js}"></script> -->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        function populateCards() {
            var content = document.getElementById('argomentoContent').innerHTML;

            var parser = new DOMParser();
            var doc = parser.parseFromString(content, 'text/html');

            var divs = doc.querySelectorAll('div');
            var cardContainer = document.getElementById('cardContainer');

            divs.forEach(function (div) {
                var card = document.createElement('div');
                card.classList.add('card');
                card.innerHTML = div.innerHTML;
                cardContainer.appendChild(card);
            });
        }

        populateCards();
    });
</script>


</html>