.iframe-row {
    display: flex;
    justify-content: center;  /* Centra orizzontalmente */
    /*align-items: center;      /* Centra verticalmente */
}


.flip-card {
    background-color: transparent;
    width: 280px;
    height: 320px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    word-wrap: initial;
    hyphens: auto;
    letter-spacing: 0;
    word-spacing: normal;
    font-size: 18px;
    font-weight: bolder;
    align-content: center;
    color: white;
}

.flip-card-front {
    font-family: 'Montserrat', sans-serif;;
    color: white;
    /*background-color: #60c660; */
}

.flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
    font-family: 'Montserrat', sans-serif;
}

.card-title {
    letter-spacing: 4px;
    display: inline-block; /* Makes the title only as wide as the content */
    padding-bottom: 5px; /* Adds some space between the text and the border */
    /* Positioning */
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: white;
}

